/*sub-heading at the top of the app UI*/
/*(chat on the left)*/
/*(chat on the right)*/
/*(placeholder text)*/
/*(main heading)*/
/*(paragraph)*/
/*These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:*/
/*(app background)*/
/*(submit button background)*/
/*(radio button outline)*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #fafafa;
  position: relative;
}

body .wrap {
  display: -ms-grid;
  display: grid;
}

body .wrap .itemGridMobile .wrapmMobileDesign {
  position: relative;
  padding: 10px;
  background-color: white;
  border-radius: 30px;
  width: 80%;
  margin: auto;
  margin-top: 60px;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign {
  background-color: #f5f3f7;
  border-radius: 30px;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .navDesign {
  background: -webkit-gradient(linear, right top, left top, from(#e942ff), to(#8838ff));
  background: linear-gradient(270deg, #e942ff, #8838ff);
  border-radius: 30px 30px 8px 8px;
  padding: 40px 20px 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .navDesign svg {
  width: 15px;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .navDesign img {
  width: 45px;
  border-radius: 100%;
  border: 2px solid white;
  margin: 0 10px;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .navDesign .text p {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .navDesign .text .p2 {
  color: #d89eff;
  margin-top: 8px;
  font-size: 11px;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .navDesign .text .points {
  position: absolute;
  right: 20px;
  bottom: 32px;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .navDesign .text .points div {
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 100%;
  margin: 2px 0;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .navDesign::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 25px;
  border-radius: 0 0 20px 20px;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: white;
  z-index: 100;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .wrapChat {
  padding: 15px;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .wrapChat .chatLeft {
  width: 65%;
  margin: 8px 0;
  padding: 13px 10px 10px;
  background-color: rgba(216, 158, 255, 0.2);
  border-radius: 15px 15px 15px 5px;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .wrapChat .chatLeft p {
  color: #9241c8;
  font-size: 10px;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .wrapImgs {
  width: 100%;
  text-align: right;
  margin-top: 20px;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .wrapImgs .imgs {
  width: 70%;
  display: inline-block;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .wrapImgs .imgs img {
  border-radius: 10px;
  width: 30%;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .wrapChatRight {
  width: 100%;
  text-align: right;
  margin: 10px 0;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .wrapChatRight .chatRight {
  width: 65%;
  display: inline-block;
  background-color: white;
  border-radius: 15px 15px 5px 15px;
  padding: 13px 10px 10px;
  text-align: left;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .wrapChatRight .chatRight p {
  font-size: 10px;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .offer {
  background: -webkit-gradient(linear, left top, right top, from(#e942ff), to(#8838ff));
  background: linear-gradient(90deg, #e942ff, #8838ff);
  margin: 10px 0;
  width: 80%;
  padding: 12px;
  border-radius: 15px 15px 15px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .offer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .offer div .circleOffer {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid #d89eff;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .offer div p {
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  color: #dadada;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .offer span {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .message label {
  position: relative;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .message label input {
  width: 100%;
  padding: 13px;
  border-radius: 20px;
  border: none;
  outline: none;
}

body .wrap .itemGridMobile .wrapmMobileDesign .mobileDesign .message label span {
  position: absolute;
  right: 7px;
  top: -5px;
  background: #3e2753;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  font-weight: bold;
}

body .wrap .itemGridText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrap .itemGridText .wrapText {
  text-align: center;
  margin: 60px auto;
  width: 90%;
}

body .wrap .itemGridText .wrapText h1 {
  color: #3e2753;
  font-size: 40px;
}

body .wrap .itemGridText .wrapText p {
  color: #a39daa;
  width: 95%;
  margin: 20px auto 0;
}

body footer .attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 10px;
}

body footer .attribution a {
  color: #3e52a3;
}

body::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: -220px;
  width: 400px;
  height: 450px;
  background: linear-gradient(215deg, #e942ff 0%, #8838ff 40%);
  border-radius: 0 0 52% 52%;
}

body::after {
  z-index: -1;
  content: "";
  position: absolute;
  bottom: 0;
  right: -220px;
  width: 400px;
  height: 450px;
  background: #f5f3f7;
  border-radius: 52% 52% 0 0;
}

@media (min-width: 912px) {
  body .wrap {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  body .wrap .itemGridMobile {
    padding: 50px 25px;
  }
  body .wrap .itemGridMobile .wrapmMobileDesign {
    width: 320px;
    float: right;
    margin-top: 0;
  }
  body .wrap .itemGridText {
    margin: 0;
    width: 100%;
  }
  body .wrap .itemGridText .wrapText {
    text-align: left;
    margin: 0;
    width: 100%;
    padding: 20px;
  }
  body .wrap .itemGridText .wrapText h1 {
    font-size: 40px;
  }
  body .wrap .itemGridText .wrapText p {
    width: 70%;
    margin: 20px 0;
  }
  body::before {
    top: 0;
    left: -150px;
    width: 550px;
    height: 550px;
  }
  body::after {
    bottom: 0;
    right: -150px;
    width: 550px;
    height: 550px;
  }
}
/*# sourceMappingURL=estilo.css.map */